h1 {
	color: rgba(2,132,130,1);
}
h2 {
	color: rgba(255,215,0,1);
}
h1, h2, p {
	text-align: center;
}
.board {
	display: inline-block;
	height: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25%;
}
.card {
	height: 200px;
	width: 150px;
	background-color: rgba(255, 255, 0, 1);
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	float: left;
	margin: 8%;
}
.name {
	color: rgba(255,0,0,1);
}
nav {
	background-color: #808080;
}
nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
footer {
	background-color: #808080;
}
a:hover {
	background-color: #ee5f3c;
}
img {
	width: 150px;
	height: 200px;
}
